body {
  background-color: #a3a19a;
  padding: 20px;
  margin: 0;
}
h1, h2, p, ul, li {
  font-family: sans-serif;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin-right:150px;
}

ul.header {
  background-color: #111;
  padding: 0;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
ul.con li{
    list-style-type: none;
}
.nav-container{
  display:flex;
  align-items: center;
  
}
.content {
  background-color: #FFF;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}
.active {
  background-color: #61d334;
}
.shopImage{
  margin-right: 150px;
}

.logo{
  background: grey;
}
.story{
  width:1500px;
  height:1500px;
}

.picOne{
  height: 150px;
  margin-left: 80px;
}
.picTwo{
  height: 150px;
  margin-left: 200px;
}
.picThree{
  height: 150px;
  margin-left: 200px;
}
.shopOne{
  height:250px;
  width: 250px;
  margin-left: 300px;
  padding-bottom: 50px;
}
.listReasonsTitle{
  font-weight: bold;
  margin-bottom: 25px;
  margin-left: 50px;
}
.listReasons{
  margin-bottom: 100px;
  margin-left: 50px;
}
.shopTwo{
  height:250px;
  width: 250px;
  margin-left: 300px;
  padding-bottom: 50px;
}
.listReasonsTitle2{
  font-weight: bold;
  margin-bottom: 25px;
  margin-left: 50px;
}
.listReasons2{
  margin-bottom: 100px;
  margin-left: 50px;
}
.story{
  position:relative;
}
.story-container{
  position: absolute;
  right: 50%;
  left: 25%;
  top: 0%;
  margin-left:230px;
  font-size: 30px;
  font-weight:bolder;
  letter-spacing: 10px;
}

.image-story{
   margin-left: 180px;
}
.jayActive{
  width:75%;
  height:450px;
}
.activeOne{
  height: 350px;
  padding-top: 50px;
  padding-left: 350px;
}

.activeTwo{
  height: 350px;
  padding-left: 350px;
 
}
.flexStory-container{
display:flex;
align-items: center;
margin-right: 250px;
margin-bottom:150px;
flex-wrap: wrap;

}
#textOne{
  font-size: 13px;
  letter-spacing: 2px;
  text-align: center;
  width:15px;
  
}
#textTwo{
  font-size: 13px;
  letter-spacing: 2px;
}
